<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ScriptPath" value=" -executionpolicy unrestricted -File stm_script.ps1"/>
    <add key="Exe" value="powershell"/>
    <add key="TempFileName" value="Temp.txt"/>
    <add key ="RetryText" value="ABC"/>
    <add key ="ErrorText" value="ST-Link Connection PROBLEM"/>
    <add key="TotalNoOfParams" value="10"/>
  </appSettings>
</configuration>